@using System.Security.Cryptography

@model IEnumerable<SauApp.Models.Student>

<h2>@ViewBag.CoursCode - @ViewBag.CoursName</h2>
<h3>Today: @ViewBag.CoursDate</h3>
<h4>Number of Attendants = @ViewBag.NumberOfAccepts</h4>

<table>
<thead><b>Signed Students :</b></thead>
    <tbody>
        @foreach (var i in (Model ?? Enumerable.Empty<SauApp.Models.Student>()))
        {
            if (i?.Signed == true)
            {
                <tr>
                    <td>@i.Name @i.Surname </td>
                </tr>
            }
        }
    </tbody>
</table>
<div>
<div>
<a asp-controller="Student" asp-action="Register"> Click To Sign</a></div>
<div>
<a asp-controller="Student" asp-action="Index"> All Student</a>   </div>


</div>
